*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(240, 234, 234);
}
.container{
   display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;

}
.content
{
    width: 400px;
  
    text-align: center;
    background-color: white;
 
    padding: 10px;
    border-radius: 10px;
}
.content form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
form select{
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
     box-shadow:  5px 5px 5px 5px #ccc;
     outline: none;
     cursor: pointer;
}
form h3{
    margin-bottom: 10px;
}


